
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
:root {
  --bg-color1: #FFFFFF;
  --bg-color2: #C7CFCC;
  --bg-color3: #06283D;
  --bg-color4: #F15412;
  --text-color1: #000000;
  --text-color2: #FFFFFF;
  --font-fam1: "erode", serif;
  --font-fam2 : "Lato", sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  overflow: visible;
  background: var(--bg-color1);
  color: var(--text-color1);
  margin: auto 0;
}

/* NAVBAR */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  width: 75%;
  height: 0px; 
  margin: 0 auto;
  justify-content: space-between;
  position: sticky;
  font-family: 'erode', serif;
  text-decoration: none;

}

.checkBtn{
  display: none;
}

.nav .logo{
  font-size: 30px;
  margin-top: 4.5em;
}

.nav .logo:hover{
  
}

.nav ol{
  list-style: none;
}

.nav ol a{
  text-decoration: none;
  margin-top: 9.7em;
  padding: 0.5em 1.5em;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #000000;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

 .no__1 {
  height: 100vh;
  width: 100%;  
  text-align: center;
  position: relative;
}

.no__1_title {
  font-family:var(--font-fam1);
  font-size:40px;
  line-height: 1;
  padding: 300px 0 0 0;
  text-transform: uppercase;
  color: var(--text-color1);
  letter-spacing: 2px;
}

.no__1_title h4 {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  font-family: var(--font-fam1);
  color: #A9A9A9;
  letter-spacing: 2px;
}

.no__1_image {
  position: relative;
  margin-top: -60px;

}

.no__1_image img {
  height: auto;
  width: 300px;
  filter: drop-shadow(-10px 10px 12px #353535);
}


.no__2 {
  height: auto;
  width: 100%;  
  display: flex;
  flex-direction: column-reverse;
  position: relative;

}

.no__2_image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.no__2_image img {
  width: 400px;
  height: auto;  
  filter: drop-shadow(-10px 10px 12px #353535  );
}

.no__2_content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.no__2_content h3{
   font-size:40px;
  font-family: var(--font-fam1);
  padding: 30px 40px;
  transition: color 0.2s;
}


.no__2_content h3:before {
  content: 'Our story';
  display: block;
  font-size:14px;
  font-family: 'Work Sans', sans-serif;
  padding: 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.no__2_content p {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  padding: 0 15% 30px 45px;
  color: #484848;
}


.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: transform 2s,opacity 2s;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}






.no__3 {
  height: 100vh;
  width: 100%;  
  position: relative;
  display: flex;

}


.no__3_image {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.no__3_image img {
  width: auto;
  height: 40%;  
}

.no__3_image p {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  padding:  110px 50% 40px 0;
    color: #484848;
}


.no__3_content {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
    
}


.no__3_content h3{
   font-size:40px;
  font-family: var(--font-fam1);
  padding: 0 0 30px 30px;
}


.no__3_content h3:before {
  content: 'The Founder';
  display: block;
  font-size:14px;
  font-family: 'Work Sans', sans-serif;
  padding: 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.no__3_content p {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  padding: 0 120px 30px 40%;
}


}

@media screen and (min-width: 601px) and (max-width: 767px) {



}

@media screen and (min-width: 768px) and (max-width: 991px) {


}

@media screen and (min-width: 992px) and (max-width: 1199px) {



}

@media screen and (min-width: 1200px) {

  .no__1 {
  height: 100vh;
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  text-align: center;
  position: relative;
}

.no__1_title {
  font-family:var(--font-fam1);
  font-size:80px;
  line-height: 1;
  padding: 300px 0 0 0;
  text-transform: uppercase;
  color: var(--text-color1);
  letter-spacing: 3px;
}

.no__1_title h4 {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-fam1);
  color: #A9A9A9;
  letter-spacing: 2px;
}

.no__1_title:after {
  content: "";
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-fam1);
  color: var(--text-color1);
  letter-spacing: 2px;
}

.no__1_image {
  position: relative;
  margin-top: -100px;
}

.no__1_image img {
  height: auto;
  width:auto;
  filter: drop-shadow(-10px 10px 12px #353535  );
}


.no__2 {
  height: 90vh;
  width: 100%;  
  display: flex;
  position: relative;

}


.no__2_image {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 150px;
}

.no__2_image img {
  width: auto;
  height: auto;  
  filter: drop-shadow(-10px 10px 12px #353535  );
}

.no__2_content {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 100px;
}

.no__2_content h3{
   font-size:40px;
  font-family: var(--font-fam1);
  padding: 30px 100px;
  transition: color 0.2s;
}


.no__2_content h3:before {
  content: 'Our story';
  display: block;
  font-size:14px;
  font-family: 'Work Sans', sans-serif;
  padding: 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.no__2_content p {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  padding: 0 50% 30px 100px;
  color: #484848;
}


.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: transform 2s,opacity 2s;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}





.no__3 {
  height: 100vh;
  width: 100%;  
  position: relative;
  display: flex;

}


.no__3_image {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.no__3_image img {
  width: auto;
  height: 40%;  
}

.no__3_image p {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  padding:  110px 50% 40px 0;
    color: #484848;
}


.no__3_content {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
    
}


.no__3_content h3{
   font-size:40px;
  font-family: var(--font-fam1);
  padding: 0 0 30px 30px;
}


.no__3_content h3:before {
  content: 'The Founder';
  display: block;
  font-size:14px;
  font-family: 'Work Sans', sans-serif;
  padding: 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.no__3_content p {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  padding: 0 120px 30px 40%;
}



}











